/* body {
  margin: 25px;
  
}

input[type=text] {
  height: 50px;
  width: 100px;
}

form {
  width: 500px;
  height: 500px;
  border: solid 5px;
  color:cyan;
  background-color: chartreuse;
}

button {
  color: pink;
  background-color: powderblue;
}

input[type=submit] {
  color:crimson;
  background-color: darkgreen;
}

input[type=button] {
  color:orange;
  background-color: yellow;
} */

